MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=adminminio
MINIO_SECRET_KEY=adminminio
MINIO_HOST=minio
OPENAQ_API_KEY=<YOUR_OPENAQ_TOKEN>
AIRFLOW_UID=50000
LOG_LEVEL=2
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
AIRFLOW_CONN_AWS_DEFAULT=aws://adminminio:adminminio@/?endpoint_url=http%3A%2F%2Fminio%3A9000&addressing_style=path

